<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | TrueSight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard-style.css">
</head>
<body>
    <div class="container">
        <!-- Logo at the top -->
        <img src="/static/img/logo.png" alt="TrueSight Logo" class="logo">

        <!-- Text in blue card -->
        <div class="text-box">
            <h1>WELCOME TO TrueSight!!</h1>
            <p class="subtitle">Tech-Driven Insights for the Visionaries of Tomorrow</p>

            <!-- Logout Button -->
            <form action="https://d7e9-2409-40f4-3e-a641-9569-a154-d595-e5a0.ngrok-free.app/api/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <script src="/static/js/dashboard.js"></script>

</body>
</html>
